*{
	padding: 10;
	margin: 0;
}
body {
	color: #fff;
	padding: 20px;
	background-color: #FF5E5B;
	font-family: "raleway", sans-serif;
}
h1, h2 {
	font-weight: 300;
}
header {
	background-color: #FF1639;
	padding:20px;
}
nav a{
	background-color: white;
	color: #FF5E5B;
	padding: 5px;
	text-decoration: none;
	font-family: 'Raleway', sans-serif; 
}
nav, button{
	text-align: center;
	font-size: 20px;
	background-color: #FF5E5B;
	font-family: "raleway", sans-serif;
}
h1 {
	text-transform: uppercase;
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 42px;
}
h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 28px;
}
#second {
	font-family: "raleway", sans-serif;
}
#wrapper {
	width:980px;
	margin-left: auto;
	margin-right: auto;
}
#button {
	text-align: center;
	text-decoration: none;
	background-color: white;
	color: #FF5E5B;
	padding: 5px;
}
#picture {
	display: inline-block;
	width:40%;
}
#about {
	display: inline-block;
	width: 58%;
}

.index section {

}

.contact header {

}
img {
	width: 100%;
}
h3 {
	text-align: center;
	font-size: 22px;
}
hr {
  width:750px;
}
p{
	font-size: 18px;
	text-align: center;
	line-height: 1.5em;
	margin: 2em;
	width:480px
}
strong {
	font-variant: small-caps;
	color: black;
	font-size: 22px;
}
article {
	background-color: #FF5E5B;
	display: inline-block;
	vertical-align: top;
	width: 60%;
}
div {
	background-color: #FF5E5B;
}
footer {
	padding: 20px;
	text-align: left;
	font-family: 'Raleway', sans-serif;
}
#footer
	text-align: center;
}
p{
	text-align: center;
}
@media only screen and (max-width: 780px) {
	*{float: none;
	}
	body {
		font-size: 20px;
	}
	nav {
		float: none;
	}
	nav a {
		margin: 0 1.6 em .75em 0;
		display: block;
	}
	img {
		width: 320px;
	}
	#about {
	width: 100%
	}
	#picture {
		width: 100%;
	}
}