*{
	padding: 10;
	margin: 0;
}
body {
	color: #fff;
	padding: 20px;
}
h1, h2 {
	font-weight: 300;
}
header {
	background-color: #FFED74;
	padding:20px;
	border: 1px black solid;
}
nav a{
	background-color: #E8C66A;
	padding: 5px;
	text-decoration: none;
	font-family: 'Raleway', sans-serif; 
}
nav, button{
	text-align: center;
	font-size: 20px;
	background-color: #E8C66A;
}
h1 {
	text-transform: uppercase;
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 42px;
}
h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 28px;
}
#second {
	font-family: "raleway", sans-serif;
}
#wrapper {
	width:980px;
	margin-left: auto;
	margin-right: auto;
}
#button {
	text-align: center;
}
#picture {
	display: inline-block;
	width:40%;
}
#about {
	display: inline-block;
	width: 58%;
}
h3 {
	text-align: center;
	font-size: 22px;
}
hr {
  width:750px;
}
p{
	font-size: 18px;
	text-align: center;
	line-height: 1.5em;
	margin: 2em;
	width:480px
}
strong {
	font-variant: small-caps;
	color: black;
	font-size: 22px;
}
article {
	background-color: #E89C6C;
	display: inline-block;
	vertical-align: top;
	width: 60%;
}
div {
	background-color: #FFE2B8;
}
footer{
	background-color: #FFE2B8;
	padding: 20px;
	text-align: left;
	font-family: 'Raleway', sans-serif;
}
p{
	text-align: center;
}