{
	width: 150px;
	height: 150px:
	border: 2px solid black;
	display: inline-block;
	margin: 20px;
}
h1 {
	text-transform: uppercase;
	text-align: center;
	color: 
	font-family: Helvetica;
}
h2 {
	text-transform: uppercase;
	text-align: center;
	color:
	font-family: Helvetica;
}
h3 {
	text-transform: uppercase;
	text-align: center;
	color:
	font-family: Helvetica;	
}